.news{
    background-color: rgb(225, 142, 142);
}
.ava{
    padding:15px;
    height: 60px;
    border-radius: 50%;
  }
  .unfollow{
    background-color: rgb(190, 74, 7);
  }
  .follow{
    background-color: rgb(4, 99, 134);
  }
  .selected{
    background-color: rgba(6, 199, 64, 0.781);
    border-radius: 30%;
    padding: 1px;
  }
.pages{
  //background-color: rgb(26, 143, 127);
  // margin: 10px;
  button{
    border-radius: 40%;
    margin:2px;
  }
}