.news{
    background-color: rgb(225, 142, 142);
}
.ava{
    padding:15px;
    height: 60px;
    border-radius: 50%;
  }
  .unfollow{
    background-color: rgb(190, 74, 7);
  }
  .follow{
    background-color: rgb(4, 99, 134);
  }