
.app-wrapper{
  display: grid;
 grid-template-areas:
 "header header header"
 "nav conten conten";
  grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
}


.conten{
  /* це стилі для основного поля */
  grid-area:conten;
  margin: 10px;
  
  font-size: 30px;
  background-color: rgba(10, 235, 14, 0.502);
}
