.dialogs{
    background-color: rgb(6, 165, 19);
    display: flex;
    
}
.dialog{
    
    margin: 10px;
    padding: 10px;
    background-color: rgb(188, 101, 101);
}
.items{
    margin: 10px;
    padding: 10px;
    background-color: rgb(237, 75, 75);
}
.text{
    margin: 20px;

}
.area{
    border-radius: 30px;
    background: #24b857;
}