.dialogs{
    background-color: rgb(6, 165, 19);
    display: flex;
    
}
.dialog{
    
    margin: 10px;
    padding: 10px;
    background-color: rgb(241, 104, 104);
}
.items{
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 38, 38);
}